<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- &lt;!&ndash;延迟加载&ndash;&gt;
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>
    </settings>
-->
    <!--类型的别名-->
    <typeAliases>
        <package name="net.wanho.pojo"/>
    </typeAliases>
    
    <!--分页插件配置-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
           <!-- <property name="dialect" value="mysql"/>-->
        </plugin>
    </plugins>


</configuration>